@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

body {
  background-color: #272525;
  font-family: "Montserrat", sans-serif;
}
hr{
    height:2px;
    border-width:0;
    color:rgb(255, 255, 255)
    ;background-color:hsla(0, 0%, 100%, 0.877)
}
.navbar {
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
  opacity: 1.6;
  background-color:hsla(0, 2%, 19%, 0.877); ;
}
.logoimg{
    background-color: white;
    border-radius: 8px;
    
}
.card-text{
    font-size: smaller;

}
.card-title{
    font-size: small;
    font-weight: bold;

}
.card{
    /* margin: 10px; */
    width: fit-content;
}
.card img{
 min-height: 120px;
}
.midcard{
    height: 460px;
}
.sidecard{
    height:220px;
    font-size: 10px;
}
.btns{
    bottom: 0;
    justify-items: baseline;
  margin: 2px;

}
#btn{
    position: absolute;
    right:    0;
    bottom:   0;
}
.navbar-brand {
  position: relative;
  left: -8px;
}
.ima{
height: 260px;
}
.last-items {
  color: white;
  font-size: 12px;
}


footer ul li {
  margin-bottom: 0.5rem;
  font-size: 0.75rem;
  font-weight: 600;
}

