@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

body {
  background-color: #312f2f;
  font-family: "Montserrat", sans-serif;
}

.navbar {
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
}
.logoimg{
    background-color: white;
    border-radius: 8px;
    
}

.navbar-brand {
  position: relative;
  left: -8px;
}

.last-items {
  color: white;
  font-size: 12px;
}



@media (max-width: 575px) {
  .first-section h1 {
    font-size: 24px;
  }
}



@media (min-width: 576px) {
  .header-icons {
    position: absolute;
    right: 0;
  }
}



footer ul li {
  margin-bottom: 0.5rem;
  font-size: 0.75rem;
  font-weight: 600;
}

